<div class="container">

<footer class="footer">

<small>

Copyright © <a href="https://alpha-blog-kris.herokuapp.com/">kris alpha-blog app</a>

by <a href="https://alpha-blog-kris.herokuapp.com/">kris teja</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>